.deserto {
    width: 500px;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.chao {
    width: 500px;
    height: 16px;
    background-image: url(sprites.png);
    background-position-y: -53px;
    position: absolute;
    bottom: 0px;
}

.dino {
    width: 45px;
    height: 45px;
    background-image: url(sprites.png);
    background-position-y: -3px;
    position: absolute;
    z-index: 2;
}

.nuvem {
    width: 47px;
    height: 17px;
    background-image: url(sprites.png);
    background-position: -86px 2px;
    position: absolute;
    z-index: 1;
}

.pontuacao {
    position: absolute;
    right: 15px;
    z-index: 2;
}

.pontos {
    display: inline-block;
    width: 9px;
    height: 15px;
    background-image: url(sprites.png);
}

.groupCacto {
    bottom: 2px;
    position: absolute;
    z-index: 3;
    display: flex;
}

.cacto {
    background-image: url(sprites.png);
    height: 40px;
    width: 17px;
}