html{
    height: 95vh;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.deserto {
    height: 150px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chao {
    height: 16px;
    background-image: url(sprites.png);
    background-position-y: -53px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.dino {
    width: 45px;
    height: 45px;
    background-image: url(sprites.png);
    background-position-y: -3px;
    position: absolute;
    z-index: 2;
}

.nuvem {
    width: 47px;
    height: 17px;
    background-image: url(sprites.png);
    background-position: -86px 2px;
    position: absolute;
    z-index: 1;
}

.pontuacao {
    position: absolute;
    right: 15px;
    z-index: 10;
}

.pontos {
    display: inline-block;
    width: 9px;
    height: 15px;
    background-image: url(sprites.png);
}

.groupCacto {
    bottom: 0px;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: baseline;
}

.cacto {
    background-image: url(sprites.png);
    height: 47px;
    width: 24px;
}

.pterossauroMalucao{
    position: absolute;
    height: 34px;
    width: 46px;
    background-image: url(sprites.png);
    z-index: 7;
}